<?xml version="1.0" encoding="UTF-8"?>
<component name="$component.Name" type="synapse/template">
  <subComponents>
  #foreach($method in $component.Methods)
  	<component name="$method.Name">
      <file>$method.Name$utility.getPeriod()xml</file>
      <description>$method.Description</description>
    </component>
  #end
  </subComponents>
</component>